.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.table-container {
  height: 400px;
  width: 550px;
  overflow: auto;
}

table {
  width: 1000px;
}

.action-section {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.action-container button {
  margin-right: 20px;
}

.action-container button span {
  margin-right: 20px;
}
